# Node dependencies
node_modules/


# Firebase local files
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Firebase service account (DO NOT COMMIT!)
studio-4099736194-7143c-firebase-adminsdk-fbsvc-1c09d7ebde.json
*.json

# Environment variables
.env
.env.local
.env.development
.env.production

# Build / output folders
dist/
build/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
.next/
.idx/